<template name="siteFooter">
  <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="seven wide column">
            <h4 class="ui inverted header">Footballer</h4>
            <p>
              This app uses the
              <a href="http://www.nfl.com/liveupdate/scorestrip/ss.json" target="_blank">NFL.com live update dataset</a>*
              to fuel a scoreboard and friendly point-spread versus game.
              <br />
              <span class="copyright">
                * This app was developed for educational purposes only, it will <u>not</u> be commercially marketed or sold, therefore any
                violation occurred as a result of using the NFL.com dataset is unintentional and in good spirit (for the love of the game).
              </span>
            </p>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Developed by:</h4>
            <div class="ui inverted link list">
              <a href="http://middlelogic.com" target="_blank" class="item">MiddleLogic</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Technologies:</h4>
            <div class="ui inverted link list">
              <a href="http://meteor.com" target="_blank" class="item">Meteor</a>
              <a href="http://atmospherejs.com" target="_blank" class="item">Atmosphere</a>
              <a href="http://semantic-ui.com" target="_blank" class="item">Semantic UI</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</template>
