<template name="siteHeader">
  <div class="ui inverted menu">
    {{>loginButtons}}
    <div class="ui dropdown item dropdownMenu">
      Weeks
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each weeks}}
          <a id="{{this}}" href="/{{this}}" class="item selectWeek">Week {{this}}</a>
        {{/each}}
      </div>
    </div>
    {{#if isAdmin currentUser}}
    <!-- <div class="ui dropdown item dropdownMenu">
      <i class="icon cogs"></i>
      <i class="dropdown icon"></i>
      <div class="menu">
          <a id="addWeekToLegacyPicks" href="#" class="item addWeekToLegacyPicks">addWeekToLegacyPicks</a>
      </div>
    </div> -->
    <div class="ui dropdown item dropdownMenu">
      <i class="icon cogs"></i>
      <i class="dropdown icon"></i>
      <div class="menu">
          <a id="resetPassword" href="#" class="item resetUserPassword">Reset Password</a>
      </div>
    </div>
    {{/if}}
  </div>
</template>
