body{
    background:#dddddd;
}
body:before{
    display: block;
    content: " ";
    height:20px;
    top: 0;
    background:rgba(0,0,0,0.8);
    position:-webkit-sticky;
    position:sticky;
}

.mainHeaderTitle {
  padding-bottom: 8px;
  color: #808080;
}

.smaller-grey {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.3em;
  color: #999999;
}

.copyright {
  display: inline-block;
  padding-top: 8px;
  font-size: 0.7em;
  line-height: 1.3em;
}
